FEM.pyc
GUI.pyc
param_BCs.py
ParameterFiles/
__pycache__/
.nfs*
.idea/
DOCUMENTATION/_build
DOCUMENTATION/build
DOCUMENTATION/autoapi
.ipynb_checkpoints
public
*env
*.egg-info
logs
.github
.DS_Store
.github
.github/*
.github/*/*

